@model LessonASP_1.Models.Product
<div class="bacgroundShopBox"> 
    
    <img src="~/img/@Model.NameIMG">
    <div class="bacgroundShopBox"> @*class невидимка *@
        <h2>@Model.Name</h2>
        <p>Жанр:@Model.TGenre <br>
           Цена:@Model.Prise руб <br>
           Описание:@Model.Description
        </p>
    </div>
</div>